<h3>Welcome to Decisive's Coding Challenge</h3>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Date registered</th>
      <th scope="col">Is Active</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let selected of (people$ | async); index as i"
        class="btn-outline-secondary mr-2">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ selected.name}}</td>
      <td>{{ selected.registered }}</td>
      <td>{{ selected.isActive}} </td>
      <td><button class="btn btn-primary" (click)="toDelete(loaded.id)">Edit</button></td>
    </tr>
  </tbody>
</table>

<!--<td [routerLink]="['/backoffice/exercises', loaded.id]">{{ selected.name }}</td>-->
